@import './variables.scss';

.card {
    border-radius: 10px;
    padding: 25px 15px 20px;
    text-align: center;

    margin: 15vh auto 0;
    max-width: 380px;
    position: relative;
}

.card__dark-grayish-blue {
    background-color: $dark-grayish-blue;
}

.card__grid {
    display: grid;
    row-gap: 40px;
}

.card--heading {
    color: $neon-green;
    text-transform: uppercase;
}

.card--heading__text {
    letter-spacing: 3px;
    font-size: .75rem;
}

.card--body {
    color: $light-cyan;
    font-size: 1.4rem;
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
}

.card--footer {
    // position: relative;
    margin-top: 40px;
}

.card--footer::before {
    width: 100%;
    content: url('./../images/pattern-divider-mobile.svg');
    position: absolute;
    right: 0;
    bottom: 15%;
}

.card--footer__btn {
    position: absolute;
    left: 42%;

    border-radius: 50%;
    padding: 15px;
    border: none;

    display: grid;
    place-items: center;
    background-color: $neon-green;
}

@media screen and (min-width: 1000px) {
    .card {
        max-width: 500px;
    }

    .card--footer::before {
        content: url('./../images/pattern-divider-desktop.svg');
        right: 0;
        bottom: 15%;
    }

    .card--footer__btn {
        position: absolute;
        left: 45%;
        transition: box-shadow .2s;

        &:hover {
            cursor: pointer;
            box-shadow: 0 0 17px 14px rgba(82, 255, 168, .3);
        }
    }
}